*{
    font-family: cursive;
    background-color: white!important;
    font-size: 25px;
    
}

.todoBorder h1{
    color: darkorange;
}
.todoBorder{
    border-radius: 25px;
    border: 2px solid black ;
    display: block;
    text-align: center;
  
    margin:  auto;
    margin-top: 10ex;
    margin-bottom: 5ex ;
    padding: 20px;
    width: 75%;
    height: 50%;
    
}

.Button1{
display: inline-block;

}
.Button1:active{
    transform: translateY(4px);
    box-shadow: 3ex black;
}

.Button2{
    display: inline-block;
}

.Button2:active{
    transform: translateY(4px);
    box-shadow: 3ex black;
}

table{
    margin-left: auto;
  margin-right: auto;
  margin-top: 3%; 

}
th{
    color: darkorange;
}
td{
    text-align: left; 
}

 #done{
    padding-top: 2px;
    transition-duration: 1s;
}
.done{
    padding-top: 5px;
    border-bottom: 2px solid black;

}